In [2]:
import pandas as pd
import numpy as np

In [4]:
Df = pd.read_csv("./movies.csv")
Df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [5]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [6]:
Df.describe()

            RATING      RunTime
count  8179.000000  7041.000000
mean      6.921176    68.688539
std       1.220232    47.258056
min       1.100000     1.000000
25%       6.200000    36.000000
50%       7.100000    60.000000
75%       7.800000    95.000000
max       9.900000   853.000000

In [7]:
Df["MOVIES"].count()

9999

In [9]:
Df["MOVIES"].isna().sum()

0

In [11]:
Df["YEAR"].isna().sum()

644

In [13]:
Df["YEAR"].sample(50)

7017             (2020– )
3875               (2018)
9620             (2021– )
9711             (2015– )
8737               (2020)
8926               (2020)
7926             (2020– )
971           (2015–2016)
1645                (XII)
4902                  NaN
9825               (2021)
359           (2016–2020)
6676               (2019)
2188               (2020)
7067             (2018– )
1527                 (II)
9690             (2021– )
9604             (2019– )
7073             (2019– )
5163               (2014)
9560             (2018– )
3164               (2020)
1024               (2018)
2548               (1966)
6262    (2018 TV Special)
3495               (2017)
7839             (2019– )
7694             (2019– )
6149         (2011 Video)
500                (1996)
6826               (2019)
8245                  NaN
6925             (2020– )
7455               (2021)
2970               (2021)
6861             (2020– )
4275             (2018– )
7333             (2017– )
7005             (2020– )
2794               (2017)
9106                  NaN
2309             (2020– )
7953             (2019– )
4982               (2018)
8832          (2018–2020)
3438             (2019– )
9387             (2019– )
89               (2016– )
8631          (2018–2020)
6258               (2016)
Name: YEAR, dtype: object

In [28]:
Df['YEAR'] = Df['YEAR'].astype(str).str.extract(r'(\d{4})')

In [39]:
Df.groupby("YEAR").size()

YEAR
1932       2
1933       1
1938       1
1941       1
1944       1
        ...
2019    1420
2020    1694
2021    1117
2022     141
2023       2
Length: 78, dtype: int64

In [42]:
Df["YEAR"].fillna(2020, inplace=True)

In [43]:
Df["YEAR"].isna().sum()

0